@{
    ViewBag.Title = "Steamyer";
}

<div class="jumbotron">
    <h3>EA SPORTS™ FIFA 22</h3>
    <img src="~/Imagenes/FIFA-22-1.jpg" width="98%">
    <p class="lead">
        Con la potencia de Football™, EA SPORTS FIFA 22 mejora la experiencia con tecnología de juego HyperMotion de última generación con juego 
        más realista, eficaz y fluida en la historia de FIFA. Los modos de juego clásicos vuelven con una nueva temporada de innovación: Crea tu 
        propio club en el Modo carrera, siente la nostalgia con nuevos héroes de FIFA Ultimate Team y obtén recompensas por tu habilidad en las 
        calles con un estilo de juego distinto en VOLTA FOOTBALL</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Ver más &raquo;</a></p>
</div>

<div class="row">
    <h3 class="text-center">Categorias</h3>
    <div class="col-md-2">
        <h2>Accion</h2>
        <img src="~/Imagenes/COD.jpg" width="100%">
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Aventura</h2>
        <img src="~/Imagenes/Minecraft.jpg" width="100%">
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Simulacion</h2>
        <img src="~/Imagenes/Sims.jpg" width="100%">
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Estrategia</h2>
        <img src="~/Imagenes/Fallout.jpeg" width="100%">
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Deportes</h2>
        <img src="~/Imagenes/Fifa22.jpg" width="100%">
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Terror</h2>
        <img src="~/Imagenes/Outlast.jpg" width="100%">
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>