@{
    ViewBag.Title = "Steamyer";
}

<div class="jumbotron">
    <h3>EA SPORTS™ FIFA 22</h3>
    <img src="~/Imagenes/FIFA-22-1.jpg" width="98%">
    <p class="lead">
        Con la potencia de Football™, EA SPORTS FIFA 22 mejora la experiencia con tecnología de juego HyperMotion de última generación con juego
        más realista, eficaz y fluida en la historia de FIFA. Los modos de juego clásicos vuelven con una nueva temporada de innovación: Crea tu
        propio club en el Modo carrera, siente la nostalgia con nuevos héroes de FIFA Ultimate Team y obtén recompensas por tu habilidad en las
        calles con un estilo de juego distinto en VOLTA FOOTBALL
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Ver más informacion &raquo;</a></p>
</div>
